/* estilos base del header */
.header {
	display: flex;
	flex-direction: column;
  	height: auto;
  	width: 100%;
  	padding: 8px; 
  	background-color: rgba(255, 255, 255, 0.8); 
  	backdrop-filter: blur(12px);
  	width: auto; 
	position: relative;
	z-index: 2;
}

.header > div
{
	display: flex;
  	justify-content: space-between;
  	align-items: center;
  	height: auto;
  	width: 100%;
}

.header > nav
{
	font-size: 1.5rem;
	display: flex;
	flex-flow: row;
	user-select: none;
}

.logo-container {
	display: flex;
	align-items: center;
}
  
.logo {
	width: 60px;
	height: 60px;
}

.company-info{
	margin-left: 15px;
}
  
.company-info h1 {
	font-size: 2.5rem;
	font-weight: bold;
	user-select: none;
}
  
.company-info p{
	font-size: 1.2rem;
	font-weight: 600;
	color: #000;
	user-select: none;
}

.username{
	margin-right: 20px;
  	font-size: 1.4rem;
  	font-weight: 600;
  	color: #000;
}
  
.user-info {
	display: flex;
	align-items: center;
}

.logout-button
{
	background-color: rgba(255, 255, 255, 1);
	margin-right: 12px;
	padding: 12px 20px;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.3s ease, transform 0.3s ease;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	font-size: 1.2rem;
	font-weight: bold;
	color: #000;
	user-select: none;
}

.trophy-container {
	display: flex;
  	align-items: center;
  	cursor: pointer;
  	margin-right: 12px;
  	padding: 8px;
	background: rgba(255, 255, 255, 0.8);
  	transition: background-color 0.3s ease, transform 0.3s ease;
  	border-radius: 8px;
	color: #000;
  	border: 2px solid rgb(255, 217, 0);
	user-select: none;
}
  
.trophy-container:hover {
  	transform: scale(1.05);
}
  
.trophy-icon {
	font-size: 2.4rem;
	color: rgb(255, 217, 0);
	margin-right: 8px;
}

.trophy-text{
	font-size: 1.4rem;
  	font-weight: bold;
}