@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Base styles to all containers */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	font-size: 62.5%;
	font-family: "DM Sans", sans-serif;
	scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}

/* estilos estándar */
a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}
  
a:focus {
	outline: none;
}

a:active {
	text-decoration: none;
	color: inherit;
}

a:visited {
	text-decoration: none;
	color: inherit;
}

/* estilos base para secciones de menu de pagina */
body, .main-menu, .acidification-page, .acidification-info-page {
	background-size: cover;
	color: #000;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}